langchain
langchain-google-genai
dotenv
streamlit
langchain-ollama
langchain_groq
langchain-google-community
langchain-community
langgraph
pypdf
beautifulsoup4
wikipedia
langchain-text-splitters
langchain-chroma